connection: &connection
  adapter: postgresql
  host: ''
  username: # YOUR USERNAME HERE
  password: # YOUR PASSWORD HERE
  encoding: utf8
  min_messages: warning
development:
  database: dnd_development
  <<: *connection

test:
  database: dnd_test<%= ENV['TEST_ENV_NUMBER'] %>
  <<: *connection

production:
  database: dnd_production
  <<: *connection
